<h1>Directory</h1>

<div class="filter_div">
	<div class="filter btn btn-default btn-directory active"><%= link_to "Full Listing", people_path %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "Faculty", people_path(:filter_by => :faculty), {:method => :get} %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "Postdocs", people_path(:filter_by => :postdoc), {:method => :get} %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "Grad Students", people_path(:filter_by => :'grad'), {:method => :get} %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "Affiliates", people_path(:filter_by => :affiliate), {:method => :get} %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "Staff", people_path(:filter_by => :staff), {:method => :get} %></div>

</div>

<table class="people table-striped">
	
	<tbody>
		<% @people.each do |person| %>
			<% if person.position == 'grad' %> 
				<%= render 'row', person: person %>            
	        <% elsif person.position == 'postdoc' %>
            	<%= render 'row', person: person %>
            <% elsif person.position == 'faculty' %>
            	<%= render 'row', person: person %>
            <% elsif person.position == 'staff' %>
            	<%= render 'row', person: person %>
            <% elsif person.position == 'affiliate' %>
            	<%= render 'row', person: person %>
            <% end %>
		  	
		<% end %>
	</tbody>
</table>


