<%= form_for [:sekret, person] do |f| %>

	<% if @person.errors.any? %>
		<div id="error_explanation">
		    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>
		 
		    <ul>
			    <% @person.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
		    </ul>
		</div>
	<% end %>

	<fieldset>
		<%= f.label :prefix %>
		<%= f.select :prefix, [[" ", :null], "Dr."] %>
	</fieldset>
	
	<fieldset>
		<%= f.label :First_Name %>
		<%= f.text_field :fname %>
	</fieldset>

	<fieldset>
		<%= f.label :last_name %>
		<%= f.text_field :lname %>
	</fieldset>

	<fieldset>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</fieldset>

	<fieldset>
		<%= f.label :user_name %>
		<%= f.text_field :user_name %>
	</fieldset>

	<fieldset>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</fieldset>

	<fieldset>
		<%= f.label :author_name %>
		<%= f.text_field :auth_id %>
	</fieldset>

	<fieldset>
		<%= f.label :school %>
		<%= f.select :school, [[" ", :null], 'Biological Science', 'Biomedical Sciences', 'Mathematics', 'Psychology']  %>
	</fieldset>

	<fieldset>
		<%= f.label :position %>
		<%= f.select :position, [[" ", :null], 'faculty', 'staff', 'postdoc', 'grad', 'labtech', 'labman', 'affiliate', 'emeritus', 'alumni', 'nn-grad', 'nn-postdoc'] %>
	</fieldset>

	<fieldset>
		<%= f.label :boss_id %>
		<%= f.select :boss_id, [[" ", :null], ["D Fadool", 1], ["Arbeitman", 2], ["Bertram", 3], ["Bhide", 4], ["Blaber", 5], ["Bolanos", 6], ["Contreras", 7], ["Dewan", 188], ["Eckel", 8], ["J Fadool", 9], ["Feng", 110], ["Hajack", 167], ["Hammock", 10], ["Houpt", 11], ["Hull", 12], ["Hyson", 13], ["Johnson", 14], ["Kabbaj", 15], ["Kumar", 16], ["Lee", 17], ["Levenson", 18], ["Li", 19], ["Lyons", 20], ["Megraw", 21], ["Meredith", 22], ["Nowakowski", 23], ["Oclese", 24], ["Ren", 25], ["Rinaman", 155], ["Spector", 26], ["Stanwood", 27], ["Trombley", 28], ["Y Wang", 29], ["Z Wang", 30], ["Wilber", 147], ["Williams", 31], ["Zhang", 189], ["Zhou", 32]] %>
	</fieldset>

	<fieldset>
		<%= f.label :lab_name %>
		<%= f.select :lab_name, [[" ", :null], "D Fadool", "Arbeitman", "Bertram", "Bhide", "Blaber", "Bolanos", "Contreras", "Dewan", "Eckel", "J Fadool", "Feng", "Hajack", "Hammock", "Houpt", "Hull", "Hyson", "Johnson", "Kabbaj", "Kumar", "Lee", "Levenson", "Li", "Lyons", "Megraw", "Meredith", "Nowakowski", "Oclese", "Ren", "Rinaman", "Spector", "Stanwood", "Trombley", "Y Wang", "Z Wang","Wilber", "Williams", "Zhang", "Zhou"] %>
	</fieldset>

	<fieldset>
		<%= f.label :external_Web_Link %>
		<%= f.url_field :labweb %>  ** For Lab Websites or Bio for external personel. **
	</fieldset>

	<fieldset>
		<%= f.label :grant_link %>
		<%= f.url_field :grantlink %>
	</fieldset>

	<fieldset>
		<%= f.label :building %>
		<%= f.select :building, [[" ", :null], 'KIN', 'LOV', 'MSR', 'PDB'] %>
	</fieldset>

	<fieldset>
		<%= f.label :office %>
		<%= f.text_field :office %>
	</fieldset>

	<fieldset>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</fieldset>

	<fieldset>
		<%= f.label :pi1 %>
		<%= f.text_field :pi1 %>
	</fieldset>

	<fieldset>
		<%= f.label :pi2 %>
		<%= f.text_field :pi2 %>
	</fieldset>

	<fieldset>
		<%= f.label :interest %>
		<%= f.text_area :interest %>
	</fieldset>

	<fieldset>
		<%= f.label :research %>
		<%= f.text_area :research %>
	</fieldset>

	<fieldset>
		<%= f.label :PubMed_link %>
		<%= f.text_field :pubmed %> **Link for PubMed bibliography**
	</fieldset>

	<fieldset>
		<%= f.label :google_scholar_link %>
		<%= f.text_field :scholar %> **Link for Google Scholar bibliography**
	</fieldset>

	<fieldset>
		<%= f.label :science_index_link %>
		<%= f.text_field :sci_index %> **Link for Science Index bibliography**
	</fieldset>

	<fieldset>
		<%= f.label "Accepting Students" %>
		<%= f.check_box :search %>
	</fieldset>

	<fieldset>
		<%= f.label "Start Date" %>
		<%= f.date_select :startdate, :start_year => 1995, :include_blank => true %> This value MUST always be set!!
	</fieldset>

	<fieldset>
		<%= f.label "Graduation Date" %>
		<%= f.date_select :graddate, :include_blank => true %> When changing to Alumni, this value MUST be set!!
	</fieldset>


	<%= f.submit %>
<% end %>