<%= provide(:title,  @person.lname) %>



<div id="main_con" class="container">

   <div class="row">

   <div id="person_left_show" class="col-sm-6">
    <% if @person.search == true %>
      <div>
        <h4><%= @person.prefix %> <%= @person.fname %> <%= @person.lname %> is currently accepting new graduate students.</h4>
      </div>
    <% end %>
   	<div class="profile">
      <% if Rails.application.assets.find_asset("profiles/#{@person.user_name}.jpg") %>
        <%= image_tag("profiles/#{@person.user_name}.jpg") %>
      <% elsif Rails.application.assets.find_asset("profiles/#{@person.user_name}.gif") %>
        <%= image_tag("profiles/#{@person.user_name}.gif") %>
      <% else %>
        <%= image_tag("profiles/default.gif") %>
    <% end %>
</div>

   </div>
   
   <p> </p>

   <div id="person_right_show" class="col-sm-6 col-md-5 profile_info">
   		<h2><%= @person.prefix %> <%= @person.fname %> <%= @person.lname %></h2>
		<h4><%= @person.title %></h4>
		<dl>
			<dd>
        <% if @person.position == 'grad' %>
          Graduate Student
        <% elsif @person.position == 'postdoc' %>
          Postdoctoral Associate
        <% elsif @person.position == 'labman' %>
          Lab Manager
        <% elsif @person.position == 'labtech' %>
          Lab Tech
        <% else %>
          <%= @person.position.capitalize %>
        <% end %>
      </dd>
			<dd><%= @person.school %></dd>
			<dd><%= @person.building %> <%= @person.office %></dd>
			<dd><%= @person.phone %></dd>
			<dd>
        <% if @person.email.present? %>
            <p><%= @person.email %></p>
          <% else %>
            <p><%= @person.user_name %>@neuro.fsu.edu</p>
        <% end %>
      </dd>
		</dl>
   </div>
  </div>

  <div class="row">
  		<div class="col-sm-6 profile_desc">
  			<p> </p>
  			<dl>
				<dt>Interest</dt>
				<dd><%= @person.interest %></dd>

				<dt>Current Reseach</dt>
				<dd><%= @person.research %></dd>

				<dt>Recent Publications</dt>
				<dd>
					<table class="table-striped">
		  				<tbody>
		  					<% @person.pubs.each do |pub| %>
									<tr>
										<td><%= pub.authors %>, <%= pub.title %>, <%= pub.journal %>, <%= pub.date %> 
											<% if pub.link.present? %>
					                            <%= link_to 'PubMed', (pub.link), :target => "_blank" %>
					                         <% end %>
											||| <%= link_to "Edit", edit_sekret_person_pub_path(@person, pub) %> |
							  			 <%= link_to "Delete", sekret_person_pub_path(@person, pub),
							  			 method: :delete,
							  			 data: { confirm: "Are you sure?" } %></td> </tr>
										
									<% end %>
		  				</tbody>
		  			</table>
  					<%= link_to 'Add new Publication', new_sekret_person_pub_path(@person) %>
				</dd>

				<% if @person.pubmed.present? || @person.scholar.present? || @person.sci_index.present? %>
            <p>
              <h4>Bibliography: 
              <% if @person.pubmed.present? %>
                <%= link_to image_tag("pubmed.png", size: "24", alt: "PubMed"), (@person.pubmed), :target => "_blank", :title => "PubMed" %> 
              <% end %>
              <% if @person.scholar.present? %>
                <%= link_to image_tag("scholar.png", size: "24", alt: "Google Scholar"), (@person.scholar), :target => "_blank", :title => "Google Scholar" %> 
              <% end %>
              <% if @person.sci_index.present? %>
                <%= link_to image_tag("sci.png", size: "24", alt: "Science Citation Index"), (@person.sci_index), :target => "_blank", :title => "Science Citation Index" %>
              <% end %>
              </h4>
            </p>
          <% end %>
            	

				
			</dl>

  		</div>

  		<div class="col-sm-6">
  			<% if @person.labweb.present? %>
              <p><h3><%= link_to 'Lab Website', (@person.labweb), :target => "_blank" %></h3></p>
            <% end %>
            <% if @person.grantlink.present? %>
              <p><h3><%= link_to 'Training Grant Opportunities', (@person.grantlink), :target => "_blank" %></h3></p>
            <% end %>
  			<!--Lab Links and people go here. -->
  			<% if @person.subordinates.any? %>
          		<h3>Neuro Grads and Postdocs</h3>
          		<table>
          		<% @person.subordinates.each do |sub| %>
          				<tr>
          					<td>
          						<p>
          							<%= link_to(sekret_person_path(sub.position, sub.user_name)) do %>
  									<strong><%= sub.fname %> <%= sub.lname %></strong>
									<% end %>,
									<% if sub.position == 'grad' %>
			                          Graduate Student
			                        <% elsif sub.position == 'postdoc' %>
			                          Postdoctoral Associate
			                        <% elsif sub.position == 'labman' %>
			                          Lab Manager
			                        <% elsif sub.position == 'labtech' %>
			                          Lab Tech 
			                        <% else %>
			                          <%= sub.position.capitalize %>
			                        <% end %>
								</p>
          					</td>
          				</tr>
          			<% end %>
          		</table>
          	<% end %>

  		</div>

  </div>


<div>
  <%= link_to "Show All", sekret_people_path %>
</div>
</div>

















