<% provide(:title, "Brain Bee") %>


<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('banners/brainbee_b.jpg') %>
		</div>

		<div class="hub_para">
			<h1>The North Florida Brain Bee</h1>

			<h4>Presented by the Neuroscience Program at Florida State University</h4>

			<!-- <h4><%= link_to 'Registration Form for Brain Bee 2018', asset_path("brain_bee_registration_2018.pdf") %></h4> -->

			<h3>What is the Brain Bee?</h3>

			<p>The Annual North Florida Brain Bee is a live Q & A competition that tests the neuroscience knowledge of high school students. Young men and women compete to determine who is the "best brain" on such topics as intelligence, learning and memory, emotions, sensations, movement, stress, aging, sleep, addiction, neuroanatomy and neural disorders. Participants can study this material by using "Brain Facts" published by the Society for Neuroscience.</p>

			<p>The top 3 place winners of the North Florida Brain Bee will be awarded a cash prize. All participants will receive a certificate and t-shirt. The 1st place winner of the North Florida Brain Bee will automatically qualify to compete in the National Brain Bee in Baltimore, Maryland. The FSU Program in Neuroscience will reimburse the fees required to register for this competition. Depending on availability of funds, the expenses related to travel, lodging, food, and local transportation for the winner and a chaperone may also be reimbursed.</p>

			<p>The winner of the National Brain Competition in Baltimore, Maryland will travel to attend the International Brain Bee (IBB) competition. The IBB winner will receive $3000, an individual trophy, a traveling trophy for their high school, and a fellowship to work in the laboratory of a neuroscientist during the summer. There will also be prizes for second and third place winners.</p>


			<h4>FSU Neuroscience Study Program</h4>

			<h4><%= link_to 'Friday Lecture Series Information and Schedule', asset_path("brain_bee_friday_lectures.pdf") %></h4>

			<p>In preparation for the Annual North Florida Brain Bee, the Program in Neuroscience at Florida State University hosts a FREE Preparatory and Review Lecture Series for all high school students interested in participating in the Brain Bee. The review sessions will be held weekly on the FSU campus and will include instruction on and review of material that will be covered during the Brain Bee.</p>

			<p>All high school students are welcome to attend the Neuroscience Study Lectures, which are held on Fridays from 4-6pm in the Psychology Building 1107 W. Call St., Room A102 (for details see <%= link_to 'Friday Lecture Series Information and Schedule', asset_path("brain_bee_friday_lectures.pdf") %>). Weekly lecture topics and updates are posted to our <%= link_to 'Facebook page', 'https://www.facebook.com/search/top/?q=fsu%20neuroscience%20outreach', :target => "_blank" %> . For more information, please contact <%= link_to 'Caitlyn Edwards', '/grad/cedwards' %> or <%= link_to 'Nataly Abrams', '/grad/nabrams' %> .</p>

			

			<h4>Fall Classroom Visits</h4>

			<p>Each September and October, graduate students from the Neuroscience Program and other programs in Psychology, Biology, and the College of Medicine at FSU visit local Big Bend high schools to promote brain and neuroscience knowledge.  They will also provide information regarding the Annual North Florida Brain Bee and hand out a FREE Neuroscience Study Program.</p>

			<h4>How to Register for the North Florida Brain Bee</h4>

			<p><%= link_to 'Registration Form for Brain Bee 2018', asset_path("brain_bee_registration_2018.pdf") %></p>

			<p>The 2018 North Florida Brain Bee will be held on Saturday, February 3rd from 10am-2pm. Please arrive early and with a parent if you plan on registering in person the day of the event.</p>

			<p>See your teacher for a copy of the registration form, or contact <%= link_to 'Javed Chitaman', '/grad/jchitamin/' %>.</p>


			<h4>Study Material</h4>

			<p>
				<ul>
				 	<li><%= link_to 'Brain Facts', asset_path("brainfacts.pdf") %></li>
				    <li><%= link_to 'Neuroscience: The Science of the Brain', asset_path("science_of_the_brain.pdf") %></li>
				    <li><%= link_to 'Neuroanatomy: List of Brain Structure and Function', asset_path("brain_structure_function.pdf") %></li>
				 </ul>
			</p>

			<h4>Related Links</h4>

			<p>
				 <ul>
	    			<li><%= link_to 'International Brain Bee', 'http://www.internationalbrainbee.com/study_mats.html', :target => "_blank" %></li>
	    			<li><%= link_to 'See images from the most recent North Florida Brain Bee', 'https://www.flickr.com/photos/130941966@N03/albums/72157661764378833', :target => "_blank" %></li>
				 </ul>
			</p>

			<p>For more information about the  North  Florida  Brain  Bee,  please contact <%= link_to 'Javed Chitaman', '/grad/jchitamin/' %>.</p>
		</div>


	</div>
</div>




		