<% provide(:title, "Outreach Contacts") %>

<div class="row">
		<div id="hub_text" class="col-sm-12">
			<div class="hub_header_image">
				<%= image_tag ('banners/contact_b.jpg') %>
			</div>
			<h1> </h1>
			<p class="hub_para"></p>
			<p class="hub_para"></p>
			<div id="hub_text">
		
		

		<h3 class="hub_para">Main Outreach Coordinators</h3>
		<p class="hub_para">
			<ul class="hub_para">
				<li>Radhika Vaidyanathan</li>
				<li><%= mail_to "rvaidya@neuro.fsu.edu" %></li>
				<li>&</li>
				<li>Alina Stimmel</li>
				<li><%= mail_to "astimmell@neuro.fsu.edu" %></li>
			</ul>
		</p>

		<h3 class="hub_para">School Visit Coordinator</h3>
		<p class="hub_para">
			<ul class="hub_para">
				<li>Caitlyn Edwards</li>
				<li><%= mail_to "cedwards@neuro.fsu.edu" %></li>
				<li>Friday lectures as a preparation for the Brain Bee</li>
				<li>Sarah Terrill</li>
				<li><%= mail_to "sterrill@neuro.fsu.edu" %></li>
				<li>&</li>
				<li>Alina Stimmell</li>
				<li><%= mail_to "astimmell@neuro.fsu.edu" %></li>
			</ul>
		</p class="hub_para">

		<h3 class="hub_para">Brain Bee Coordinator</h3>
		<p class="hub_para">
			<ul class="hub_para">
				<li>Javed Chitaman</li>
				<li><%= mail_to "jchitamin@neuro.fsu.edu" %></li>
				<li>&</li>
				<li>Jon Ryan</li>
				<li><%= mail_to "jryan@neuro.fsu.edu" %></li>
				<li>&</li>
				<li>Amanda Brunick</li>
				<li><%= mail_to "abrunick@neuro.fsu.edu" %></li>
			</ul>
		</p>

		<h3 class="hub_para">Brain Fair Coordinators</h3>
		<p class="hub_para">
			<ul class="hub_para">
				<li>Christine Simmons</li>
				<li><%= mail_to "csimmons@neuro.fsu.edu" %></li>
				<li>&</li>
				<li>Eileen Chun</li>
				<li><%= mail_to "echun@neuro.fsu.edu" %></li>
				<li>&</li>
				<li>Racheal Hedinger</li>
				<li><%= mail_to "rhedinger@neuro.fsu.edu" %></li>
			</ul>
		</p>

		<p class="hub_para"><b>Beyond the events listed here, we are open to any educational outreach events that will benefit the Tallahassee and North Florida communities.  If you have an event in mind, please contact:</b>
			<ul class="hub_para">
				<li>Radhika Vaidyanathan</li>
				<li><%= mail_to "rvaidya@neuro.fsu.edu" %></li>
			</ul>
		</p>

	</div>
		</div>

		
	</div>