<% provide(:title, "Bran Fair") %>


<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('banners/brainfair_b.jpg') %>
		</div>
		
		<div class="hub_para">
			<h1>Brain Fair 2019</h1>

			<h4>An event for kids of all ages to learn how their brains work.</h4>

			<p>The Neuroscience Program at Florida State University presents the annual Brain Fair on April 28, 2018.</p>

			<p>The Brain Fair is an annual tradition for the Neuroscience program at Florida State University. It provides an opportunity to reach young minds and amaze them with all marvelous things the brain is capable of! Children will be able to participate in a number of activities that will expand their knowledge of the human brain and cultivate their inner scientist. While the Brain Fair is tailored towards children, people of all ages will find the Brain Fair engaging and there will be learning opportunities for all! So bring the family for an adventure through the secrets of the human brain!</p>

			<p><u>Come join us for the Brain Fair Saturday, March 31st, from 1-5pm at the FSU Psychology Building (1107 W Call St).</u></p>

			<!--<p><%= link_to 'View pictures from Mindcraft!', 'https://www.flickr.com/photos/130941966@N03/albums/72157666488989330' %></p>-->

			<p>
				 <ul>
				 	<li><strong>Day: March 31st</strong></li>
					<li><strong>Time: 1pm - 5pm</strong></li>
					<li><strong>Venue:</strong> FSU Department of Psychology Building, 1107 W. Call
					Street</li>
					<li><strong>Cost:</strong> Free</li>
					<li><%= link_to 'Download the flyer here!', asset_path('brain_fair_2019.pdf') %></li>
					<!-- <li><%= link_to 'Map and directions.', '#' %></li>
					<li><%= link_to 'View Pictures from previous Brain Fairs', 'https://www.flickr.com/photos/130941966@N03/collections/72157651175
					500581/', :target => "_blank" %></li>
					<li><%= link_to 'Brain Fair Poster', 'BrainFairPoster2016.pdf', :target => "_blank" -%></li> -->
				 </ul>
			</p> 

			<p>For more information about the Brain Fair,  please  contact <%= link_to 'Aliza De Nobrega', '/grad/adenobrega/' %> or <%= link_to 'Alina Stimmell', '/grad/astimmell/' %> or <%= link_to 'Katie Day', '/grad/kday/' %> or <%= link_to 'Sarah Benthem', '/grad/sbenthem/' %> or <%= link_to 'James Brown', '/grad/jbrown/' %></p>
		</div>


	</div>
</div>
