<% provide(:title, "Distinguished Graduate") %>

<div class="row">
    <div id="hub_text" class="col-sm-12">

        <div class="hub_para">
            <div class="hub_header_image">
                <%= image_tag ('banners/gmg_b.jpg') %>
            </div>
            <h1> </h1>

            <h3>About the Distinguished Graduate </h3>

            <p>Graduates of the Psychobiology and the Program in Neuroscience who have been invited to return as special speakers in out colloquium series are listed below. The name of their major professor and the year of the award is shown.</p>

            <h3>The James C. Smith Lecturers</h3>
        </div>

        <div class="hub_para">
            
                <h3><%= link_to 'Charles Hubscher', 'http://louisville.edu/medicine/departments/anatomy/facultylist/charles-hubscher-phd', :target => "_blank" %></h3>
                <h4>2015</h4>
                <dl>
                    <dd>K. Berkley</dd>
                    <dd>University of Louisville School of Medicine, Department of Anatomical Sciences and Neurobiology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'David Pittman', "http://sites.wofford.edu/pittmandw/", :target => "_blank" %></h3>
                <h4>2013</h4>
                <dl>
                    <dd>Contreras</dd>
                    <dd>Wofford College, Department of Psychology</dd>
                </dl>
            </div>


        <div class="hub_para">
            
                  <h3><%= link_to 'John Boughter', 'https://www.uthsc.edu/neuroscience/faculty/J_Boughter.php', :target => "_blank" %></h3>
                <h4>2012</h4>
                <dl>
                    <dd>Whitney</dd>
                    <dd>The University of Tennessee Health Science Center, Department of Anatomy and Neurobiology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Brandon Aragona', 'https://lsa.umich.edu/psych/people/faculty/aragona.html', :target => "_blank" %></h3>
                <h4>2011</h4>
                <dl>
                    <dd>Z. Wang</dd>
                    <dd>University of Michigan, Department of Psychology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Gwen Fewell', 'http://www.synvivobio.com/team/', :target => "_blank" %></h3>
                <h4>2009</h4>
                <dl>
                    <dd>Meredith</dd>
                    <dd>SynVivo, Inc., Chief Commercial Officer</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Joel Greenspan', 'https://www.umaryland.edu/cacpr/cacpr-membership/executive-committee-and-faculty-members-information/joel-greenspan-phd/', :target => "_blank" %></h3>
                <h4>2005</h4>
                <dl>
                    <dd>Kenshalo</dd>
                    <dd>University of Maryland School of Dentistry, Department of Neural and Pain Sciences</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Ann Robbins', '#', :target => "_blank" %></h3>
                <h4>2004</h4>
                <dl>
                    <dd>Stephan</dd>
                    <dd>President, Ann Robbins LLC - Regulatory Affairs Consulting Services​</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Scott Herness', 'https://wexnermedical.osu.edu/neurological-institute/researchers/scott-herness-phd', :target => "_blank" %></h3>
                <h4>2001</h4>
                <dl>
                    <dd>Beidler</dd>
                    <dd>The Ohio State University, Wexner Medical Center, Department of Neuroscience</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Randolph Nudo', 'http://www.kumc.edu/landon-center-on-aging/faculty/randolph-j-nudo-phd.html', :target => "_blank" %></h3>
                <h4>2000</h4>
                <dl>
                    <dd>Masterton</dd>
                    <dd>The University of Kansas Medical Center, Landon Center on Aging</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Joel White', '#', :target => "_blank" %></h3>
                <h4>1999</h4>
                <dl>
                    <dd>Meredith</dd>
                    <dd>Tufts University School of Medicine, Department of Neuroscience</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Alan Spector', '/faculty/spector', :target => "_blank" %></h3>
                <h4>1998</h4>
                <dl>
                    <dd>Smith</dd>
                    <dd>Florida State University, Department of Psychology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Clint Makino', 'http://www.bumc.bu.edu/phys-biophys/people/faculty/makino/', :target => "_blank" %></h3>
                <h4>1997</h4>
                <dl>
                    <dd>T. Williams</dd>
                    <dd>Boston University School of Medicine, Department of Physiology and Biophysics</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Cheryl Sisk', 'http://psychology.msu.edu/Faculty/FacultyMember.aspx?netid=sisk', :target => "_blank" %></h3>
                <h4>1996</h4>
                <dl>
                    <dd>Stephan</dd>
                    <dd>Michigan State University, Department of Psychology</dd>
                </dl>
            </div>

        <div class="hub_para">
                  <h3><%= link_to 'Wayne Silver', 'http://college.wfu.edu/biology/people/faculty/silver/', :target => "_blank" %></h3>
                <h4>1995</h4>
                <dl>
                    <dd>Beidler</dd>
                    <dd>Wake Forest University, Department of Biology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Judy Brunso-Bechtold', '#', :target => "_blank" %></h3>
                <h4>1994</h4>
                <dl>
                    <dd>Masterton</dd>
                    <dd>Retired, Wake Forest University School of Medicine, Department of Neurobiology and Anatomy</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Rickye Heffner', 'http://www.utoledo.edu/al/psychology/people/faculty/rfeffner.html', :target => "_blank" %></h3>
                <h4>1991</h4>
                <dl>
                    <dd>Masterton</dd>
                    <dd>The University of Toledo, Department of Psychology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'John Penn', 'https://www.vanderbilthealth.com/eyeinstitute/23855', :target => "_blank" %></h3>
                <h4>1990</h4>
                <dl>
                    <dd>T. Williams</dd>
                    <dd>Vanderbilt University Medical Center, Vanderbilt Eye Institute</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Antonio Nunez', 'http://psychology.msu.edu/Faculty/FacultyMember.aspx?netid=nunez', :target => "_blank" %></h3>
                <h4>1989</h4>
                <dl>
                    <dd>Stephan</dd>
                    <dd>Michigan State University, Department of Psychology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Peter Santi', 'https://www.ent.umn.edu/bio/ent-faculty/peter-santi', :target => "_blank" %></h3>
                <h4>1988</h4>
                <dl>
                    <dd>Graziadei</dd>
                    <dd>University of Minnesota Medical School, Department of Otolaryngology-Head and Neck Surgery</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Charles Wysocki', 'http://www.monell.org/faculty/people/charles_j_wysocki', :target => "_blank" %></h3>
                <h4>1987</h4>
                <dl>
                    <dd>Whitney</dd>
                    <dd>Monell Chemical Senses Center</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Inglis Miller', '#', :target => "_blank" %></h3>
                <h4>1986</h4>
                <dl>
                    <dd>Beidler</dd>
                    <dd>Retired, Wake Forest University School of Medicine, Department of Neurobiology and Anatomy</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Marilyn Carroll', 'https://www.psychiatry.umn.edu/bio/psychiatry/marilyn-carroll', :target => "_blank" %></h3>
                <h4>1985</h4>
                <dl>
                    <dd>Smith</dd>
                    <dd>University of Minnesota Medical School, Department of Psychiatry</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Robert Bradley', 'http://www.dent.umich.edu/about-school/department/bms/faculty-profile-bradley', :target => "_blank" %></h3>
                <h4>1984</h4>
                <dl>
                    <dd>Beidler</dd>
                    <dd>University of Michigan School of Dentistry, Biologic and Materials Sciences and Division of Prosthodontics</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Henry Heffner', 'http://www.utoledo.edu/al/psychology/people/faculty/hhefner.html', :target => "_blank" %></h3>
                <h4>1983</h4>
                <dl>
                    <dd>Masterton</dd>
                    <dd>The University of Toledo, Department of Psychology</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'John Caprio', 'http://www.lsu.edu/science/biosci/faculty_and_staff/caprio.php', :target => "_blank" %></h3>
                <h4>1982</h4>
                <dl>
                    <dd>Beidler</dd>
                    <dd>Louisiana State University, Department of Biological Sciences</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Michael Loop', 'https://www.uab.edu/optometry/home/facultystaff/29-facultystaff/facultybio/122-loopmichael', :target => "_blank" %></h3>
                <h4>1981</h4>
                <dl>
                    <dd>M. Berkley</dd>
                    <dd>University of Alabama Birmingham School of Optometry, Department of Vision Sciences</dd>
                </dl>
            </div>

        <div class="hub_para">
            
                   <h3><%= link_to 'Charlotte Mistretta', 'http://www.dent.umich.edu/about-school/department/bms/mistretta-lab', :target => "_blank" %></h3>
                <h4>1980</h4>
                <dl>
                    <dd>Beidler</dd>
                    <dd>University of Michigan School of Dentistry, Biologic and Materials Sciences and Division of Prosthodontics</dd>
                </dl>
            </div>

      

<!-- Template


        <div class="hub_para">
            
                   <h3><%= link_to 'Name', '', :target => "_blank" %></h3>
                <h4>Year</h4>
                <dl>
                    <dd>Mentor</dd>
                    <dd>Location</dd>
                </dl>
            </div>


-->            



    </div>
</div>



