<% provide(:title, "Current Graduate Students") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('banners/students_b.jpg') %>
		</div>
		<h1> </h1>
		<h3 class="hub_para"></h3>
	</div>

	

	<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'NGSA', '/students/ngsa', :class => 'ngsa_link' %></li>
			<li><%= link_to 'Support & Training Grants', '/prospect/finaid', :class => 'finaid_link' %></li>
			<li><%= link_to 'Program Curriculum', '/gr/curriculum', :class => 'cs_progseq_link' %></li>
		</ul>
	</div>
	<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Outreach', '/students/outreach', :class => 'out_link' %></li>
			<li><%= link_to 'Distinguished Graduates', '/students/gmg', :class => 'gmgs_link' %></li>
			<li><%= link_to 'Resources', '/students/nsresources', :class => 'nsres_link' %></li>
		</ul>
	</div>

	