<% provide(:title, "Current Undergraduate Students") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('banners/students_b.jpg') %>
		</div>
		<h1> </h1>
		<h3 class="hub_para">For Undergraduate Students</h3>
	</div>

	

	<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Advising', '/ug/advising', :class => 'cadvise_link' %></li>
			<li><%= link_to 'Course Sequence', '/ug/courses', :class => 'ccourses_link' %></li>
			<li><%= link_to 'Career Pathways', '/ug/pathways', :class => 'cpathways_link' %></li>
			<!--<li><%= link_to 'Research Opportunities', '/students/resopp', :class => 'cresearch_link' %></li>-->
		</ul>
	</div>
	<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Outreach', '/students/outreach', :class => 'coutreach_link' %></li>
			<li><%= link_to 'Student Groups', '/students/studgroups', :class => 'cstudgrp_link' %></li>
			<!--<li><%= link_to 'Social Media', '/students/smedia', :class => 'csocmed_link' %></li>-->
		</ul>
	</div>

	