<% provide(:title, "Admission") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>How to apply to the Program in Neuroscience</h1>

		<h4><%= link_to "View the FSU Graduate School requirements.", 'http://admissions.fsu.edu/graduate/', :target => "_blank" %></h4>

		<p>Applications are considered only once per year, and students are accepted for enrollment only for the subsequent fall semester.</p>

		<p>Students entering our program immediately begin conducting research in the laboratory of their chosen major professor. When you apply, you will be asked to choose 3 faculty members with whom you would like to work. Check out our <%= link_to 'faculty directory', people_path(:filter_by => :faculty), {:method => :get} %> to see who is currently accepting students. You will be asked to enter your laboratory preferences during the application process. Applicants are encouraged to contact faculty members by email before applying to insure a good match in research interests.</p>

		<p><strong>Application Deadline: December 1, 2018</strong></p>
		<p>
			<ul>
				<li><%= link_to "Complete the university admissions application.", 'https://admissions.fsu.edu/gradapp/', :target => "_blank" %> </li>
				<li>Be prepared to provide/upload: 
					<ul style="list-style-type:disc">
						<li>A List of up to 3 faculty laboratories you would like to join.</li>
						<li>Resume or Curriculum Vitae</li>
						<li>Statement of Purpose</li>
						<li>Unofficial GRE Score</li>
						<li>Unofficial Transcript</li>
						<li>Names and Contact Info for 3 References</li>
					</ul>
				<li>There is a $30 application fee.</li>
				</li>Follow the directions under <%= link_to "Graduate Admissions Requirements", 'http://admissions.fsu.edu/graduate/', :target => "_blank" %> to submit your Official GRE Score and Transcripts.</li>
			</ul>
		</p>
		<p>Applicants should make every effort to upload the required documents into the online application. If you are unable to upload a document you may send it to the program office at the address below, provided it will make the application deadline. It may be necessary to fax, email or overnight documents in order to make our deadline. Incomplete files will not be reviewed, and late submissions will not be considered unless there are openings within the program.</p>
		
		<p>Please check our <%= link_to 'Frequently Asked Questions', '/prospect/faq' %> for more information, and if there are additional questions not discussed there, contact:</p>
		<ul>
			<li>Janice Parker</li>
			<li>Program Administrator</li>
			<li>Program in Neuroscience</li>
			<li>Florida State University</li>
			<li>1107 W Call St. Room C241</li>
			<li>Tallahassee, FL 32306-4301</li>
			<li>(850) 644-3076</li>
		</ul>
	</div>

	
</div>
