<% provide(:title, "Ticket System") %>

<div class="filter_div">
	<div class="filter btn btn-default btn-directory active"><%= link_to "Full Listing", sekret_tickets_path %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "Admin", sekret_tickets_path(:filter_by => :Administrative), {:method => :get} %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "Graphics", sekret_tickets_path(:filter_by => [:Graphics, :'Graphics - Poster', :'Graphics - Photo', :'Graphics - Illustration']), {:method => :get} %></div>
	<div class="filter btn btn-default btn-directory active"><%= link_to "IT", sekret_tickets_path(:filter_by => [:IT, :'IT - Web Services', :'IT - Email', :'IT - Hardware/Software']), {:method => :get} %></div> ||| 
	<div class="filter btn btn-default btn-directory active"><%= link_to "New entry", new_sekret_ticket_path %></div> ||| 
	<div class="filter btn btn-default btn-directory active">
	  <% if current_user.present? %>
        <%= link_to " Sign Out", sessions_path, method: :delete %>
      <% end %>
	</div>

</div>


<table class="people table-striped">
	
	<tbody>
		<% @tickets.each do |ticket| %>
		  <tr class="people_row">
		  	<td>
		  		<div class="portrait">
		  			
		  		</div>
		  	</td>
		  	<td class="names">
		  		<div class="inner">
		  			<p><%= link_to sekret_ticket_path(ticket) do %>
  						<strong><%= ticket.category %></strong>
					<% end %></p>
		  				
		  		</div>
		  	</td>

		  	<td class="stats">
		  		<div class="inner">
		  			<p><%= ticket.requestor_name %></p>
		  			<p><%= ticket.requestor_lab %></p>
		  			<p><%= ticket.contact %></p>
		  		</div>
		  	</td>

		  	<td class="mail">
		  		<div class="inner">
		  			<p><%= ticket.requested_by %></p>
		  			<p><font color="ff0000"><%= ticket.status %></font></p>
					<p> </p>
		  			<p><%= link_to "Edit", edit_sekret_ticket_path(ticket) %> |
		  			 <%= link_to "Delete", sekret_ticket_path(ticket),
		  			 method: :delete,
		  			 data: { confirm: "Are you sure?" } %></p>

		  		</div>
		  	</td>

		  </tr>
		<% end %>
	</tbody>
</table>

