<% provide(:title, "Home") %>


<%= stylesheet_link_tag "flexslider.css", media: "all", "data-turbolinks-track" => true %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<%= javascript_include_tag "jquery.flexslider.js", "data-turbolinks-track" => true %>


<script type="text/javascript" charset="utf-8">
  $(window).ready(function() {
    $('.flexslider').flexslider({
    	animation: "slide"
    	
    });
  });
</script>


<div class="home_show clearfix">
	<div class="flexslider carosel">
		  <ul class="slides">
		  	<li>
		      <%= link_to image_tag('carousel/bfair19c.jpg'), "/students/fair" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/bsbanner.jpg'), "/ug/ughub" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/highlightC.jpg'), 'https://calendar.google.com/calendar/embed?src=parker.neuro2412%40gmail.com&ctz=America/New_York', :target => "_blank" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/beidlerliza18C.jpg'), "/grad/adenobrega" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/nidaC.jpg'), "/faculty/jfeng" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/hammockC.jpg'), "/faculty/ehammock" %>
		    </li>
		    
		    
		  </ul>
		</div>
	<div class="carosel_block gradapp"><%= link_to image_tag('applyT.gif'), '/gr/admission' %></div>
	<div class="carosel_block outreach"><%= link_to image_tag('outreachT.gif'), '/students/outreach' %></div>
</div>

	
		
