<% provide(:title, "Home") %>


<%= stylesheet_link_tag "flexslider.css", media: "all", "data-turbolinks-track" => true %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<%= javascript_include_tag "jquery.flexslider.js", "data-turbolinks-track" => true %>


<script type="text/javascript" charset="utf-8">
  $(window).ready(function() {
    $('.flexslider').flexslider({
    	animation: "slide"
    	
    });
  });
</script>


<div class="home_show clearfix">
	<div class="flexslider carosel">
		  <ul class="slides">
		    <li>
		      <%= link_to image_tag('carousel/highlightC.jpg')
		       %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/wilberC.jpg'), "/faculty/awilber" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/achemsC.jpg'), "#" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/zhouC.jpg'), "/faculty/zhou" %>
		    </li>
		    <li>
		      <%= link_to image_tag('carousel/beidler2017.jpg'), "#" %>
		    </li>
		  </ul>
		</div>
	<div class="carosel_block gradapp"><%= link_to image_tag('applyT.gif'), '/prospect/admission' %></div>
	<div class="carosel_block outreach"><%= link_to image_tag('outreachT.gif'), '/students/outreach' %></div>
</div>

	
		
