<% provide(:title, "Undergraduate Advising") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Undergraduate Advising</h1>

		<p>The Neuroscience Undergraduate Advising Office is staffed by a full-time undergraduate academic advisor, <%= mail_to "nlilly@admin.fsu.edu", "Ms. Nicole Lilly" %>.  The Advising Office supports undergraduate students as they establish and realize their personal, academic, and career goals at FSU.
		</p>

		<p>The Advising Office is located in room C241 of Psychology Building B (see <%= link_to 'university map', 'http://www.fsu.edu/map2007/2007-MapPRINT032500.html', :target => "_blank" %> ). Students are seen on a walk-in basis from 8:30AM to 12:00PM, Monday through Friday, and by appointment from 1:30 to 4:00PM, Monday through Thursday. Students are strongly advised to seek academic advising at least once a semester, preferably prior to the registration cycle.
		</p>
		
		<p>
			<b>To make an appointment with an advisor, please speak to the receptionist in the office.  <%= phone_number_link("(850) 644-3076") %>.</b>
		</p>

		<p>
			The <%= link_to 'Health Professions Advising Office', 'http://med.fsu.edu/index.cfm?page=AdvisingOutreach.home', :target => "_blank" %> of the <%= link_to 'College of Medicine', 'http://www.med.fsu.edu/', :target => "_blank" %>, offers additional preprofessional advising for students interested in careers in the health science professions-Dentistry, Medicine, Optometry, Pharmacy, Physical Therapy, and Veterinary Medicine.
		</p>
		
	</div>

	
</div>
