<% provide(:title, "Undergraduate Advising") %>

<div class="hub_wrap">
	<div id="hub_text">
		<h1>Undergraduate Advising</h1>

		<p>
			The Neuroscience Undergraduate Advising Office is staffed by a full-time undergraduate academic advisor, <%= mail_to "nlilly@neuro.fsu.edu", "Ms. Nicole Lilly" %>.  The Advising Office supports undergraduate students as they establish and realize their personal, academic, and career goals at FSU.
		</p>

		<p>
			The Advising Office is located in room A208 in the Psychology Department Building (A wing, 2nd floor - (see <%= link_to 'university map', 'http://www.fsu.edu/map2007/2007-MapPRINT032500.html', :target => "_blank" %> )). The office phone number is 850-645-9565. The advisor is available Monday through Friday with walk-in advising from 9 am until 12 noon and appointments from 1:30 pm until 5 pm.. The advisor will be available for appointments starting in mid-May 2018.  
		</p>
		
		<p>
			You can schedule an advising appointment via Campus Connect at myFSU. The Campus Connect icon is in the upper left corner with a picture of shaking hands and the letters "CC".
		</p>

		<p>
			Since any student seeking info about Neuroscience is a non-major, please choose "Learn about Major/Minor" for a reason to meet with an advisor.
		</p>
		
		<p>
			Advising Resources:
			<ul>
				<li><%= link_to 'The Career Center','https://career.fsu.edu/', :target => "_blank" %></li>
				<li><%= link_to 'University Counseling Center','https://counseling.fsu.edu/', :target => "_blank" %></li>
				<li><%= link_to 'Dean of Students Office','https://dos.fsu.edu/', :target => "_blank" %></li>
				<li><%= link_to 'Academic Center for Excellence','https://ace.fsu.edu/', :target => "_blank" %></li>
				<li><%= link_to 'Center for Academic Retention and Enhancement','https://care.fsu.edu/', :target => "_blank" %></li>
				<li><%= link_to 'Pre-Health Advising','https://med.fsu.edu/index.cfm?page=AdvisingOutreach.prehealthOverview
', :target => "_blank" %></li>
				<li><%= link_to 'Faculty for Undergraduate Neuroscience','https://www.funfaculty.org/drupal/about', :target => "_blank" %></li>
			</ul>
		</p>
	</div>

	
</div>
