<% provide(:title, "Prospective Students") %>



	<div class="row">
		<div id="hub_text" class="col-sm-12">
			<div class="hub_header_image">
				<%= image_tag ('banners/prop_b.jpg') %>
			</div>
			<h1> </h1>
			<p class="hub_para">The Program in Neuroscience is an interdisciplinary research and graduate training program offering a PhD in Neuroscience.  Graduate students take courses in neuroscience and work closely with their major professors to develop research projects leading to their dissertations.</p>
			<p class="hub_para"> </p>
		</div>

		<div id="hub_left" class="col-sm-6 clearfix">
			<ul>
				<li><%= link_to 'What Is Neuroscience?', '/ug/whatis', :class => 'whatis_link' %></li>
				<li><%= link_to 'Degree Admission', '/ug/admission', :class => 'ug_ad_link' %></li>
				<li><%= link_to 'Course Sequence', '/ug/courses', :class => 'courses_link' %></li>
				<!--<li><%= link_to 'Graduate Student Handbook', asset_path("gradhandbook.pdf"), :class => 'sbook_link' %></li>-->
			</ul>
		</div>
		<div id="hub_right" class="col-sm-6 clearfix">
			<ul>
				<li><%= link_to 'Which Major?', '/ug/majors', :class => 'majors_link' %></li>
				<li><%= link_to 'Advising', '/ug/advising', :class => 'advise_link' %></li>
				<li><%= link_to 'Career Pathways', '/ug/pathways', :class => 'pathways_link' %></li>
				<li><%= link_to 'Apply Now!', 'https://admissions.fsu.edu/undergradapp/', :class => 'appnow_link', :target => "_blank" %></li>
			</ul>
		</div>
	</div>