<% provide(:title, "Contact Us") %>

<div class="hub_wrap">
	<div class="hub_header_image">
		<%= image_tag('banners/contact_b.jpg') %>
	</div>
	<div id="hub_text">
		
		<h3>Location and Mailing Address</h3>
		<p>
			<ul>
				<li>FSU Program in Neuroscience</li>
				<li>PDB C241</li>
				<li>1107 W. Call Street</li>
				<li>Tallahassee, FL  32306-4301</li>
			</ul>
		</p>

		<h3>Info About Graduate Applications and Admissions </h3>
		<p>
			<ul>
				<li><%= mail_to "info@neuro.fsu.edu" %></li>
				<li><%= phone_number_link("(850) 644-3076") %></li>
			</ul>
		</p>

		<h3>Info About Outreach Activities and Public Awareness of Neuroscience</h3>
		<p>
			<ul>
				<li><%= mail_to "info@neuro.fsu.edu" %></li>
				<li><%= phone_number_link("(850) 644-3076") %></li>
			</ul>
		</p>

		<h3>Neuroscience IT Services</h3>
		<p>
			<ul>
				<li><%= mail_to "support@neuro.fsu.edu" %></li>
				<li><%= phone_number_link("(850) 644-4876") %></li>
			</ul>
		</p>

		<h3>Neuroscience Art, Publication, and Photography Services</h3>
		<p>
			<ul>
				<li><%= mail_to "graphics@neuro.fsu.edu" %></li>
				<li><%= phone_number_link("(850) 644-5048") %></li>
			</ul>
		</p>

	</div>

</div>




  











