<% provide(:title, "Research Areas") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
		<div class="hub_header_image">
			<%= image_tag ('banners/about_b.jpg') %>
		</div>
		<h2 class="hub_para">Research Areas of the Program in Neuroscience</h2>
		<p class="hub_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed condimentum libero. Pellentesque convallis auctor iaculis. Proin scelerisque dolor odio, vitae volutpat nunc hendrerit vel. Vestibulum convallis nulla in dui auctor sodales. Ut pulvinar urna pretium mi condimentum tempor. Integer massa dolor, volutpat nec aliquet id, lacinia suscipit nunc.</p>

		<p class="hub_para">
			<ul class="hub_para">
				<li><%= image_tag ('cs_ico.gif') %><h4><%= link_to 'Chemical Senses, Ingestive Behavior, and Obesity', '/about/chemsens'%></h4></li>
				<li><%= image_tag ('hn_ico.gif') %><h4><%= link_to 'Human Neuroscience and Animal Models of Cognition', '/about/humanneuro' %></h4></li>
				<li><%= image_tag ('mg_ico.gif') %><h4><%= link_to 'Molecular Genetics, Proteomics, and Membrane Biophysics', '/about/molecgen' %></h4></li>
				<li><%= image_tag ('nb_ico.gif') %><h4><%= link_to 'Neurobiology of Brain Injury and Disease', '/about/neurobio' %></h4></li>
				<li><%= image_tag ('ne_ico.gif') %><h4><%= link_to 'Neuroendocrinology, Social Behavior, Stress, and Drug Addiction', '/about/neuroendo' %></h4></li>
			</ul>
		</p>
	</div>
	

	<!--<div id="hub_left" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Chemical Senses, Ingestive Behavior, and Obesity', '/about/chemsens', :class => 'chems_link' %></li>
			<li><%= link_to 'Molecular Genetics, Proteomics, and Membrane Biophysics', '/about/molecgen', :class => 'moleg_link' %></li>
			<li><%= link_to 'Neuroendocrinology, Social Behavior, Stress, and Drug Addiction', '/about/neuroendo', :class => 'nendo_link' %></li>
		</ul>
	</div>

	<div id="hub_right" class="col-sm-6 clearfix">
		<ul>
			<li><%= link_to 'Human Neuroscience and Animal Models of Cognition', '/about/humanneuro', :class => 'human_link' %></li>
			<li><%= link_to 'Neurobiology of Brain Injury and Disease', '/about/neurobio', :class => 'nbio_link' %></li>
		</ul>
	</div> -->




</div>



