<% provide(:title, "Email Support") %>

<div class="row">
	<div id="hub_text" class="col-sm-12">
			<div class="hub_header_image">
				<%= image_tag('banners/email_b.jpg') %>
			</div>
			<div id="hub_text">
				<h2 class="hub_para">Neuroscience Email</h2>

				<h3 class="hub_para">Email Host</h3>
				<p class="hub_para">Our email is hosted on the ITS (University) servers through Office 365. This is the same account as your fsu.edu account given by the unversity. For Grads: This is NOT your my.fsu.edu account.</p>
				<p class="hub_para">Our email acount is the same as your fsu.edu account, which coinsides with the Psy mail as well. You are only able to choose one as your primary account name which dictats what email people see when you send out emails. If you would like this to be your Neuro account and it is not, please put in a ticket request to have that changed for you. </p>
				

				<h3 class="hub_para">Setting up your email on your device:</h3>
				<p class="hub_para">Desktop Clients:
						<ul class="hub_para">
							<li><%= link_to "Microsoft Outlook 2013/2016", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/Outlook-2010-2013', :target => "_blank" %></li>
							<li><%= link_to "Microsoft Outlook 2011(Mac)", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/Outlook-for-Mac-2011', :target => "_blank" %></li>
							<li><%= link_to "Mac Mail", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/Mac-Mail-Exchange', :target => "_blank" %></li>
						</ul>

				</p>
				
				<p class="hub_para">Android Devices:
						<ul class="hub_para">
							<li><%= link_to "Android Email", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/Android-Exchange', :target => "_blank" %></li>
							<li><%= link_to "Outlook App", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/Microsoft-Outlook-Android', :target => "_blank" %></li>
						</ul>
				</p>
				
				<p class="hub_para">iOS Devices:
						<ul class="hub_para">
							<li><%= link_to "iOS Email", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/iPhone-iPad-Exchange-Settings', :target => "_blank" %></li>
							<li><%= link_to "Outlook App", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/Microsoft-Outlook-iOS', :target => "_blank" %></li>
						</ul>
				</p>

				<p class="hub_para">Other Devices:
						<ul class="hub_para">
							<li><%= link_to "Windows Phone", 'http://its.fsu.edu/Software/Office-365/Employee-Email-Setup/Windows-Phone-Exchange', :target => "_blank" %></li>
						</ul>
				</p>

				<p class="hub_para"></p>

				<p class="hub_para"></p>
			</div>


	</div>

	
</div>