<% provide(:title, "Research Areas") %>

<div class="row">
	<div class="hub_text" class="col-sm-12">

		<div class="research_info clearfix">
			<div class="hub_header_image">
				<%= image_tag ('banners/rarea_b.jpg') %>
			</div>

			<h1> </h1>

			<p class="hub_para">The Program in Neuroscience at Florida State University is highly collaborative with several broad areas of research excellence.  Many faculty members participate in more than one research area, providing opportunities for students to customize their research experiences - training across multiple research areas, or focusing on one area of specific interest.</p>

			<h1> </h1>
		</div>

		<div>
			<div class="research_area clearfix">
		   		<div class="research_left research_tag">
		   			<%= image_tag("cs_ico.gif") %>
		   		</div>
		  		<div class="research_right">
		   			<h3><%= link_to 'Chemical Senses, Ingestive Behavior, and Obesity', people_path(:filter_by => :ra_cs), {:method => :get}%></h3>
					<p>
						The chemical senses, mediated primarily by distinct receptor populations in the nose, mouth, and skin, drive a variety of approach, avoidance, or attachment behaviors.  Notable among these behaviors are    the selection and ingestion of nutrients necessary to maintain a stable body weight.  FSU researchers in this area investigate the brain mechanisms that mediate our interactions with the chemical and nutritive environment, particularly those interactions that lead to obesity and other metabolic disorders.  Graduate student and postdoctoral research in this area is aided by a <%= link_to 'Chemical Senses Training Grant', 'http://opda.fsu.edu/awards-and-fellowships/nih-fsu-postdoctoral-fellowships/nih-chemosensory-training-grant-program' %> from the National Institutes of Health.
					</p>
					
		    	</div>
		    </div>

		    <div class="research_area clearfix">
		   		<div class="research_left research_tag">
		   			<%= image_tag("hn_ico.gif") %>
		   		</div>
		  		<div class="research_right">
		   			<h3><%= link_to 'Human Neuroscience and Animal Models of Cognition', people_path(:filter_by => :ra_hn), {:method => :get}%></h3>
					<p>
						Facilitated by the recent acquisition of a state-of-the-art 3T Siemens Prisma scanner, FSU researchers are using fMRI, TMS, and EEG to study affective and cognitive processes in the human brain.  Areas of emphasis include executive functioning and decision-making, evaluation of threat, and biomarkers for affective disorders.  This work is complemented by FSU researchers using animal models to address the cellular and synaptic basis of several human cognitive traits – learning and memory, sensory-motor integration, speech and language, and our ability to effortlessly map and navigate the space around us.
					</p>
					
		    	</div>
		    </div>

		    <div class="research_area clearfix">
		   		<div class="research_left research_tag">
		   			<%= image_tag("mg_ico.gif") %>
		   		</div>
		  		<div class="research_right">
		   			<h3><%= link_to 'Molecular Genetics, Proteomics, and Membrane Biophysics', people_path(:filter_by => :ra_mg), {:method => :get}%></h3>
					<p>
						The physiological and behavioral functions of the nervous system depend on developmental, constitutive, and stimulus-induced expression of protein products and signaling molecules.  Many play a role at the neuronal membrane, conferring the unique electrical properties of neurons as well as mediating hormonal and neurotransmitter communication between neurons and other organ systems in the body.  FSU researchers in this area utilize cutting-edge electrophysiological, viral, optogenetic, and pharmacological techniques to explore neural function at a molecular level of analysis.
					</p>
					
		    	</div>
		    </div>

		    <div class="research_area clearfix">
		   		<div class="research_left research_tag">
		   			<%= image_tag("nb_ico.gif") %>
		   		</div>
		  		<div class="research_right">
		   			<h3><%= link_to 'Neurobiology of Brain Injury and Disease', people_path(:filter_by => :ra_nb), {:method => :get}%></h3>
					<p>
						The personal, societal, and economic burdens of brain injury and disease are enormous.  Traumatic brain injury or diseases that affect higher brain regions are particularly devastating.  Individuals are robbed of the very characteristics that define them as human beings – their perceptions, thoughts, memories, and emotions.  FSU researchers in this area utilize animal models to understand and treat the molecular and circuit pathologies associated with neurological or psychiatric disease, as well as recovery from CNS trauma.
					</p>
					
		    	</div>
		    </div>

		    <div class="research_area clearfix">
		   		<div class="research_left research_tag">
		   			<%= image_tag("ne_ico.gif") %>
		   		</div>
		  		<div class="research_right">
		   			<h3><%= link_to 'Neuroendocrinology, Social Behavior, Stress, and Drug Addiction', people_path(:filter_by => :ra_ne), {:method => :get}%></h3>
					<p>
						Neuroendocrine communication between brain and periphery mediates a suite of highly organized – and often sex-specific – physiological and behavioral responses.  In many cases, drugs of abuse exploit the reward pathways associated with these responses, leading to addiction.  FSU researchers in this area explore the underlying mechanisms of neuroendocrine communication in order to understand the profound influence of hormones on behavior, sex differences in social behavior and mood, the effects of stress on brain and behavior, and the seemingly inherent susceptibility of the brain to drugs of abuse.
					</p>
					
		    	</div>
		    </div>
		</div>
	</div>
</div>