<footer class="footer">
  <small>
    <%= link_to 'The', '/sekret/people' %> <%= link_to 'Florida State University', 'http://www.fsu.edu/', :target => "_blank" %> <%= link_to "Neuroscience Program", '/' %>
    ©copyright 2016.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact Us", '/about/contact' %></li>
      <li><%= link_to 'Webmail', 'http://webmail.fsu.edu/', :target => "_blank" %></li>
      <li><%= link_to 'Calendar',   'https://calendar.google.com/calendar/embed?src=parker%40neuro.fsu.edu&ctz=America/New_York', :target => "_blank" %></li>
    </ul>
  </nav>
</footer>