<footer class="footer">
  <small>
    <%= link_to 'The', '/sekret/adminhub' %> <%= link_to 'Florida State University', 'http://www.fsu.edu/', :target => "_blank" %> <%= link_to "Neuroscience Program", '/' %>
    ©copyright 2016-2019.
  </small>
  <nav>
    <ul>
      <li><%= link_to image_tag("twit_gld.gif"), 'https://twitter.com/FSUNeuroscience', :target => "_blank" %></li>
      <li><%= link_to image_tag("fb_gld.gif"), 'https://www.facebook.com/FSUNeuroscience/', :target => "_blank" %></li>
      <li><%= link_to "About", '/about/abouthub' %></li>
      <li><%= link_to "Support", '/support/' %></li>
      <li><%= link_to "Contact Us", '/about/contact' %></li>
      <li><%= link_to 'Webmail', 'http://webmail.fsu.edu/', :target => "_blank" %></li>
      <li><%= link_to 'Calendar', 'https://calendar.google.com/calendar/embed?src=parker.neuro2412%40gmail.com&ctz=America/New_York', :target => "_blank" %></li>
    </ul>
  </nav>
</footer>